<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="mine">Mine Blocks</a>
  <a href="transaction">Make a Transaction</a>
  <a href="buy">Buy CryptoCoin</a>
  <a href="login">Login</a>
</div>

<div class="text-box">
  <h2>Welcome to CrytoCoin!</h2>
  <p>Your balance is: {{ user_balance }} CryptoCoin.</p>
</div>
  
<div class="text-box">  
  <h3>CrytoCoin Updates and News:</h3>
  <p>CryptoCoin Pay coming soon.</p>
</div>


<footer>
  <p>2020 CryptoCoin</p>
</footer>